# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# VS extra stuff
*.sdf
*.opensdf

# Build directories
x64
x86

#compiled crap
*.obj
*.log
*.lib
*.pch
*.tlog
*.idb
*.pdb

#exceptions
!embree.lib
!assimp.lib
DuosRenderer.VC.opendb
*.vspx
DuosRenderer160125.vsp
ipch/PBRTPARSER-a1980417/PBRTPARSER-6bdf5d8f.ipch
ipch/PBRTPARSER-a1980417/PBRTPARSER-6bdf5d8f.ipch
*.ipch
DuosRenderer.VC.db
*.opendb
/.vs/DuosRenderer/v15/Solution.VC.db-wal
/.vs/DuosRenderer/v15/Solution.VC.db-shm
/.vs/DuosRenderer/v15/Solution.VC.db
/.vs/DuosRenderer/v15/Browse.VC.db
/.vs/DuosRenderer/v15/.suo
/packages/WinPixEventRuntime.1.0.170918004/bin/WinPixEventRuntime_UAP.dll
/packages/WinPixEventRuntime.1.0.170918004/bin/WinPixEventRuntime.dll
/packages/WinPixEventRuntime.1.0.170918004
